<head th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>WorkShop</title>
  
<link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/font-awesome/css/font-awesome.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/node_modules/font-awesome/css/font-awesome.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/node_modules/flag-icon-css/css/flag-icon.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/css/dashboard.css}" type="text/css" />


<script type="text/javascript" th:src="@{/dist/node_modules/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/dist/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/dist/node_modules/popper.js/dist/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/dist/node_modules/chart.js/dist/Chart.min.js}"></script>
<script type="text/javascript" th:src="@{/dist/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/link.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/off-canvas.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/hoverable-collapse.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/misc.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/chart.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/maps.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/search.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/add.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/msg.js}"></script>
<script type="text/javascript" th:src="@{/dist/js/validator.js}"></script>
</head>








