<head th:fragment="loginCss">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>WorkShop</title>
  
<link rel="stylesheet" th:href="@{/dist/css/bootstrap.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/font-awesome/css/font-awesome.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/node_modules/font-awesome/css/font-awesome.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/node_modules/flag-icon-css/css/flag-icon.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/dist/css/login.css}" type="text/css" />
<script type="text/javascript" th:src="@{/dist/js/msg.js}"></script>

</head>








