
        <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar" th:fragment="sidebar">
          <div class="user-info">
            <img src="images/logo_star.svg" alt="" />
            <p class="name">PSMI ICT</p>
            <p class="designation">Work shop</p>
            <span class="online"></span>
          </div>
         <ul class="nav">
             <li class="nav-item">
              <a class="nav-link" th:href="@{/home}">
                <img src="/images/2.png" alt=""/>
                <span class="menu-title">Home</span>
              </a>
            </li>
             
            <li class="nav-item">
                <a class="nav-link" th:href="@{/assets/assetsmanagement}"> <img src="/images/1.png" alt=""/>
                <span class="menu-title">Asset registry</span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/workshop/workshop}">
                <img src="/images/5.png" alt=""/>
                <span class="menu-title">Work Shop</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#sample-pages" aria-expanded="false" aria-controls="sample-pages">
                <img src="/images/10.png" alt=""/>
                <span class="menu-title">Settings<i class="fa fa-sort-down"></i></span>
              </a>
              <div class="collapse" id="sample-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users/}">
                      Users
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/updateprofile/}">
                     Update profile
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" th:href="@{/common/pdfoutputs}">
                      PDF Print out files
                    </a>
                  </li>
                </ul>
              </div>
            </li>            
            <li class="nav-item">
              <a class="nav-link" th:href="@{/common/site}">
                <img src="/images/008-list.png" alt=""/>
                <span class="menu-title">Sites</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/common/locationname}">
                <img src="/images/001-map.png" alt=""/>
                <span class="menu-title">Locations</span>
              </a>
            </li>
            
          </ul>
        </nav>
