<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="head :: head"> </head>
    <body> 

        <div class=" container-scroller">
            <nav th:replace ="header::header"></nav>

            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-right">
                    <nav th:replace ="sidebar::sidebar"></nav> 

                    <div class="content-wrapper">
                        <h4 class="page-heading mb-4">Assets List</h4>
                        <div class="card-deck">
                            <div class="card col-lg-12 px-0 mb-4">
                                <div class="card-body">
                                    <!-- Content Start Here -->   
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12"><a th:href="@{/assets/assetsmanagementaction/0}"><span class="glyphicon glyphicon-plus" title="assettypeaction"></span></a></div>
                                    </div>    
                                    <form th:method="get"  th:action="@{'/assets/assetmanagement/'}"  th:object="${assets}" class="form-inline">
                                        <span class="add-on">From</span>
                                        <input type="text" class="form-control" th:field="*{startDate}" /> 
                                        <span class="add-on">To</span>
                                        <input type="text" class="form-control" th:field="*{endDate}" />
                                        <select class="selectpicker" data-style="btn-default"  data-live-search="true" th:field="*{site.region}" >
                                            <option value="0">All Regions</option>
                                            <option th:each="region : ${regions}"
                                                    th:value="${region}"
                                                    th:text="${region}">....</option>
                                        </select>
                                        <button type="submit" class="btn btn-success">Search</button>
                                    </form>      
                                    <div class="table-responsive">
                                        <table class="table center-aligned-table">
                                            <thead>
                                                <tr>
                                                    <th>Action</th>
                                                    <th>Asset Type</th>
                                                    <th>Model</th>
                                                    <th>Serial</th>
                                                    <th>Purchased</th>
                                                    <th>Site</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-th-each="assets : ${assetss}">
                                                    <td><a th:href="@{'/assets/assetsmanagementaction/' + ${assets.id}}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                                                        <a th:onclick="'printPdf(\'/common/output/' + ${assets.id}+'/ASSET_REGISTRATION\')'"><span class="glyphicon glyphicon-print"style="color:blue"></span></a>&nbsp;
                                                        <a th:onclick="'printPdf(\'/common/output/' + ${assets.id}+'/ASSET_MOVEMENT\')'"><span class="glyphicon glyphicon-print"style="color:green"></span></a></td>
                                                    <td data-th-text="${assets.assetType}"></td>
                                                    <td data-th-text="${assets.model}"></td>
                                                    <td data-th-text="${assets.serial}"></td>
                                                    <td data-th-text="${assets.purchaseDate}"></td>
                                                    <td data-th-text="${assets.site.name}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Content End Here -->   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   

            <div th:replace ="footer::footer"></div>
            <script th:utext="${msg}"></script>
        </div>  

    </body>
</html>